body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;   	
}

main {
	padding: 25px 0 40px;
}

section {
	border-bottom: 1px solid #CCC;
	padding: 20px 0;
	max-width: 800px;
}

h1 {
	margin-top: 0;
	margin-bottom: 5px;
}

small {
	font-size: 15px;
	text-transform: uppercase;
}