$font-family-sans-serif:  "freight-sans-pro", Helvetica, Arial, sans-serif;
$font-family-serif:       "freight-text-pro", Georgia, "Times New Roman", Times, serif;

$font-family-base:        $font-family-sans-serif !default;

$headings-font-family:    $font-family-serif;
$headings-font-weight:    500;
$headings-line-height:    1.1;
